body {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.cadastro-cabecalho {
  background-color: var(--principal);
  border-radius: 16px 0 0 16px;
  color: var(--branco);
  font-weight: normal;
  text-align: center;
  padding: 2rem;
  height: 60%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 5px 5px 2px 1px rgba(132, 132, 133, 0.2);
}

.title-cad {
  font-family: "Purple Purse", cursive;
  font-weight: normal;
  margin-bottom: 0.5rem;
}

.subtitle-cad {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 1rem;
}

.conteudo-principal {
  background-color: var(--branco);
  border-radius: 0 16px 16px 0;
  width: 40%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 2px 1px rgba(132, 132, 133, 0.2);
}

.cartao {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cartao__titulo {
  font-family: "Purple Purse", cursive;
  color: var(--principal);
  font-weight: normal;
  font-size: 2.5rem;
}

.formulario__legenda {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: grey;
  margin-bottom: 1.5rem;
}

.formulario {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
}

.input__field {
  border: none;
  background-color: var(--cinza);
  margin-bottom: 0.5rem;
  padding: 1rem;
}

.input__label {
  margin-bottom: 0.3rem;
  color: grey;
  font-family: "Poppins", sans-serif;
}

.form__button {
  font-family: "Poppins", sans-serif;
  border-radius: 15px;
  text-transform: uppercase;
  color: var(--branco);
  width: 50%;
  padding: 10px 50px;
  align-self: center;
  font-weight: bold;
  background-color: var(--principal);
  border: 1px solid var(--principal);
}

.form__button:hover {
  background-color: var(--branco);
  color: var(--principal);
}

.input__error {
  font-family: "Poppins", sans-serif;
  color: var(--erro);
  font-size: 0.8rem;
}

/* @media screen and (min-width: 0) {
  .conteudo-principal,
  .cadastro-cabecalho {
    flex-direction: column;
    width: 90%;
  }
}
@media screen and (min-width: 992px) {
  .conteudo-principal,
  .cadastro-cabecalho {
    width: 70%;
    flex-direction: row;
  }
} */

/* @media screen and (min-width: 1400px) {
  .conteudo-principal,
  .cadastro-cabecalho {
    width: 50%;
    flex-direction: row;
  }
} */
